[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/ElaWidgetTools"]
	path = 3rdparty/ElaWidgetTools
	url = https://github.com/Liniyous/ElaWidgetTools.git
